# spotify credentials
# from https://developer.spotify.com/dashboard
SPOTIPY_CLIENT_ID=''
SPOTIPY_CLIENT_SECRET=''
SPOTIPY_REDIRECT_URI='http://127.0.0.1:8888/callback'

# flet webpage port, can be set via the compose file if empty
FLET_PORT=

# database Mode ('sqlite' | 'postgres')
DB_TYPE=sqlite

# for SQLite:
# path relative to the project root
DB_PATH=data/spotify_history.db

# PostgreSQL (required if DB_TYPE=postgres)
DB_NAME=spotify_db
DB_USER=spotipy
DB_HOST=spotipy_db
DB_PASSWORD=password
DB_PORT=5432

# system timezone
# used to display history and heatmaps in your local time
TZ=Europe/Berlin

# SQLite rolling backup settings
BACKUP_ENABLED=false
BACKUP_COUNT=5
# path relative to the project root
BACKUP_DIR=data/backups
# Trigger 1: Manual Sync
BACKUP_ON_MANUAL_SYNC=false
# Trigger 2: Auto Sync
BACKUP_ON_AUTO_SYNC=false
# Trigger 3: Timed Interval in h
BACKUP_INTERVAL_HOURS=0

# login token, none if empty
APP_PASSWORD=''
